/*
Theme Name:     New England Center for Investigative Reporting
Theme URI:      http://largoproject.org
Description:    A child theme for the New England Center for Investigative Reporting based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo-dev
Version:        0.1.0
*/

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, serif;
}
h5.top-tag,
.widgettitle {
  font-family: "Helvetiva Neue", Helvetica, sans-serif;
}
.entry-title a,
.entry-title a:hover,
.post-lead a,
.post-lead a:hover,
#homepage-featured .top-story h2 a,
#homepage-featured .top-story h2 a:hover,
h5 a.rsswidget,
h5 a.rsswidget:hover,
.related-items a,
.related-items a:hover {
  color: #333;
  font-family: Georgia, Times, serif;
}
.navbar-inner {
  background-color: #fff;
  border-top: 3px solid #333;
  border-bottom: 1px solid #333;
}
.navbar li > a {
  color: #333;
}
.entry-title,
#homepage-featured .top-story h2,
h2.subtitle {
  font-weight: normal;
}
h1.entry-title {
  line-height: 1.1;
}
h2.subtitle {
  font-size: 24px;
  margin-bottom: 4px;
}
#homepage-featured .top-story img {
  margin-bottom: 12px;
}
#homepage-featured .top-story h2 {
  font-size: 44px;
  margin-bottom: 12px;
  line-height: 1.15;
}
#homepage-bottom-necir .span8 {
  float: right;
}
#homepage-bottom-necir #left-rail {
  float: left;
  padding-right: 40px;
}
#homepage-bottom-necir #left-rail .post-lead {
  margin-bottom: 24px;
}
#homepage-bottom-necir #left-rail .post-lead h5 {
  margin-bottom: 8px;
}
#homepage-bottom-necir #left-rail .post-lead p {
  font-size: 14px;
}
#sidebar {
  padding-left: 40px;
}
.textwidget h6 {
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  h2.subtitle {
    display: none;
  }
  #homepage-bottom-necir .span8 {
    float: none;
    width: 100%;
    margin-bottom: 24px;
  }
  /* high school programs page */
  .page #content .span6 {
    clear: both;
    width: 100%;
    margin: 0 0 24px;
  }
  .page #content .span3 {
    width: 47.5%;
    margin: 0 0 24px;
  }
  .page #content .span3.odd {
    clear: both;
    margin-right: 5%;
    float: left;
  }
  .page #content .span3.even {
    float: right;
  }
  #homepage-featured .top-story h2 {
    font-size: 36px;
  }
  #homepage-bottom-necir #left-rail {
    padding-right: 0;
  }
  #sidebar {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  /* high school programs page */
  .page #content .span3 {
    width: 100%;
  }
  .page #content .span3.odd,
  .page #content .span3.even  {
    clear: both;
    float: none;
  }
  #homepage-featured .top-story h2 {
    font-size: 30px;
  }
}
